/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --color-accent: #ff0070;
  --main-text-color: #F1B2CE;
  --subtitle-text-color: #000028;
  --section-header-text-color: #ff0070;
  --main-background-color: #000028;
  --title-text-main-color: #DB00FF;
  --title-text-shadow-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-edge-color: #FF007066;

  background-image: url("../images/cover-image-dark.png");
  background-color: var(--main-background-color);
}